<div class="container">
  <div class="row">
    <div class="col h2 text-center mt-5">
      <strong>フォローー覧</strong>
    </div>
  </div>
  <div class="row">
    <div class="col mt-3 text-center bg-light">
      <%= render "follow_list", users: @users %>
    </div>
  </div>
</div>

