<div class="container">
  <div class="row justify-content-lg-center">
    <div class="font-weight-bold justify-content-lg-center" style="font-size: 40px">About</div>
  </div>
<div class="row justify-content-xl-center pt-md-3">
    <%= image_tag 'happy.jpg', size: '500x300' %>
  </div>
  <div class="row justify-content-lg-center">
    <h5 style="text-align: center">
      <strong>
        今は、コロナ禍のマスク着用で,笑顔を見たり会話をして<br>
        笑い合ったりする機会が減ったと思います<br>
        そして、それが原因で辛いことや悲しいことが発散できずにいる方も多いかと思います<br>
        少しでも笑顔になっていただき、見てるだけで楽しくなったり<br>
        幸せそうな投稿を見て元気になる人たちが増えてほしい<br>
        笑顔が溢れるそんなサイトを作り上げていきましょう！
      </strong>
    </h5>
  </div>
</div>
