<div class="container">
  <div class="row text-center">
    <div class="col font-weight-bold mt-4 h1">
      ABOUT
    </div>
  </div>  
  <div class="row pt-md-3">
    <div class="col text-center">
      <%= image_tag 'smile2.jpg', style: "max-width: 450px; width: 100%;" %>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col text-center h5">
      <strong>
        今は、コロナ禍のマスク着用で、笑顔を見たり会話をして<br>
        笑い合ったりする機会が減ったと思います<br>
        そして、それが原因で辛いことや悲しいことが発散できずにいる方も多いかと思います<br>
        少しでも笑顔になっていただき、見てるだけで楽しくなったり<br>
        幸せそうな投稿を見て元気になる人たちが増えてほしい<br>
        笑顔が溢れるそんなサイトを作り上げていきましょう！
      </strong>
    </div>
  </div>
</div>
