<div class="conteiner">
  <div class="row">
    <h2 class="col text-center font-weight-bold mt-5">
      笑顔を見たい<br>
      笑顔になりたい<br>
      誰かに笑顔になってもらいたい<br>
      そんな場所を作り上げていきませんか？
    </h2>
  </div>
  <div class="row">
    <div class="col text-center">
      <%= image_tag 'pf_logo8.png', style: "max-width: 300px; width: 100%;" %>
    </div>
  </div>
  <div class="row form-inline mx-auto text-center m-3">
    <div class="col">
      &emsp;<%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary", style: "width:136px" %>
      &emsp;<%= link_to "ログイン", user_session_path, class: "btn btn-success", style: "width:136px" %>
      &emsp;<%= link_to 'ゲストログイン', users_guest_sign_in_path, class: "btn btn-info", method: :post %>
    </div>
  </div>
</div>





