  <% if post.liked_by?(current_user) %>
    <th></th>
    <td>
      いいね
      <%= link_to post_likes_path(post), method: :delete, remote: true do %>
        <i class="fas fa-laugh-squint"></i><%= post.likes.count %>
      <% end %>  
    </td>
  <% else %>
    <td>
      いいね
      <%= link_to post_likes_path(post), method: :post, remote: true do %>
        ♡<%= post.likes.count %>
      <% end %>  
    </td>
  <% end %>